.first-article{
border:5px solid greenyellow;
background-color: purple;
color:white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-article{

color: red;
 
font-family: "Courier New", Courier, monospace;
}

.third-article{
background-color: lightcoral;
border: 3px dotted;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.fancy-button{
border: 3px solid black;
font-size: 20px;
background-color: aqua;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius:20px;

}

body{

background-color: lightgrey;

}
