*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ff6347;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

main{
    padding: 20px;
    flex: 1;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.card-content{
    padding: 15px;
}

.card-content p{
    margin-top: 20px;
    color: #555;
}

footer{
    background-color: #ff6347;
    color: white;
    text-align: center;
    padding: 20px 0px;
    margin-top: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}