.container{
  border:1px lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: black;
  border-radius: 10px;
  font-family: 'Arial',Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  padding: 5px;
}

.menu-items-container {
  display: flex;
  gap:30px;
  flex-wrap: wrap;
  flex-direction: none;
  
}

.menu-items-container li{
  list-style-type: none;

}
.menu-items-container li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons-section{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttons-section button{
  background-color: rgb(10, 82, 21);
  color:white;
  padding: 3px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
} 
