.first-box{
    border: 3px solid red;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    
}   

.second-box{
    border: 3px solid red;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}   

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.third-box{
    border: 3px solid red;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;   
}

.my-button{
    border: 3px solid black;
    font-size: 20px;
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    color: white
    
}

.menu-bar{
    border: 1px lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background-color: black;
    border-radius: 10px;
    font-family: 'Arial',Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    padding: 5px; 
}       
.menu-bar-items {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    flex-direction: none;  
    
}
.menu-bar-items li{
  list-style-type: none;

}
.menu-bar-items li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.munu-bar-buttons-section{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-bar-buttons-section button{
  background-color: rgb(29, 17, 132);
  color:white;
  padding: 3px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
} 